* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px 25px;
}

/* Header Styles Start */
header {
  padding: 10px;
  margin-bottom: 15px;
  background: linear-gradient(90deg, rgb(20, 93, 134) 0%, rgba(120,5,149,1) 100%);
}

header h1 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: white;
}
/* Header Styles End */

/* Main Styles Start */
main {
  height: calc(100vh - 96px);
  display: flex;
  justify-content: flex-start;
}

/* Sidebar Styles Start */
.sidebar {
  width: 23%;
  margin-right: 20px;
}

/* Search Form Styles Start */
.search {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(20, 93, 134);
  width: 92%;
}

.search label {
  display: block;
  font-size: 26px;
  font-weight: bold;
}

.search input {
  display: block;
  width: 100%;
  padding: 0 8px;
  margin: 12px 0;
  line-height: 2.25;
  font-size: 16px;
  border-width: 1px;
  border-radius: 4px;
}

.search button {
  display: block;
  width: 100%;
  line-height: 2;
  color: white;
  background-color: rgb(51, 167, 240);
  border: none;
  border-radius: 4px;
}
/* Search Form Styles End */

.user-cities {
  height: calc(100% - 137px);
  overflow-y: scroll;
}

.city {
  width: 92%;
  margin-top: 15px;
  line-height: 2;
  background-color: rgb(207, 203, 203);
  border: none;
  border-radius: 4px;
}
/* Sidebar Styles End */